.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: red;
  height: 100vh;
  padding: 40px;
}

.hamburger-icon {
  font-size: 40px;
  color: #7b7b7b;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 70px 0;
}
