.todo-add-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  box-shadow: 0 1px 6px 0 #00000061;
  padding: 5px 15px;
}

.todo-input {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
}

.add-icon {
  cursor: pointer;
  background-color: #008b8b;
  border-radius: 50%;
}

.add-icon path {
  stroke: #fff;
}
